.container{
    margin: auto;
    width: 50%;
    border: 1px solid black;
    display: flex;
    justify-content: space-around;
}
#left-part{
    display: flex;
    flex-direction: column;
    border-right: 1px solid black;
    width: 50%;
}
.header{
    display:flex;
}
.photo{
    width: 100px;
}
#name{
    margin-left: 15px;
}
.address{
    margin-left: 15px;
}
#hobbies{
    display: flex;
    height: 75%;
    align-self: center;
}
#title{
    align-self: center;
    margin-left: 15px;

}
#right-part{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
}
#description{
    display:flex;
    flex-direction: column;
    margin-left: 15px;
}
#network{
    border-top: 1px solid black;
    display: flex;
    justify-content: space-around;
    padding: 5px 0;
}
.log{
    width: 50px;
}
